/*  your css code here. If applicable */
div{
	height:300px;
	width:300px;
	margin:50px;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:lightblue;
}
p{
	
}